<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	{% if page and page.title %}
	<title>{{ page.title }}</title>
	{% elif section %}
	<title>{{ section.title }}</title>
	{% else %}
	<title>{{ config.description }}</title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bulma.css">
</head>

<body>
	<header>
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				{% set index = get_section(path="_index.md") %}
				<a class="navbar-item" href="{{ index.permalink }}">
					<img src="/beer.svg" />
				</a>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<!-- desktop menu -->
			<div class="navbar-menu is-active">
				<div class="navbar-start">
					{% for subsection_path in index.subsections %}
					{% set subsection = get_section(path=subsection_path) %}

					{# if current_path == subsection.path #}
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-item" href="{{ subsection.permalink | safe }}">
							{{ subsection.title }}
						</a>

						{% if subsection.pages %}
						<div class="navbar-dropdown">
							<!-- loop through posts -->
							{% for page in subsection.pages %}
							<a class="navbar-item" href="{{ page.permalink | safe }}">
								{{ page.title }}
							</a>
							{% endfor %}
						</div>
						{% endif %}
					</div>
					{% endfor %}
				</div>
				{% if index.pages %}
				<div class="navbar-end">
					{% for page in index.pages %}
					<a class="navbar-item" href="{{ page.permalink | safe }}">
						{{ page.title }}
					</a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="content is-medium">
			{% block content %} {% endblock %}
		</div>
	</div>
	<script src="/mermaid.min.js">
		mermaid.initialize({startOnLoad: true});
	</script>
</body>

</html>
